/* Updated styles.css */
body {
    background-image: url('/src/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #ffffff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Cool fonts for headers and recovery scores */
.cool-font {
    font-family: 'Roboto', sans-serif; /* or any other preferred font */
    color: #76daff; /* Light blue to match with the background theme */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle shadow for better readability */
}

.bold-font {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #76daff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.glass-card {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

    .glass-card:hover {
        transform: scale(1.02); /* Slight zoom on hover for interactive feel */
    }

/* Styling for buttons with a modern flat design */
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

    .button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

.arrow-button {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    transition: all 0.2s;
}

    .arrow-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

@media screen and (max-width: 768px) {
    .glass-card {
        margin: 0 10px;
    }
}
